{% extends 'base.html.twig' %}

{% block title %}Hello LogboekController!{% endblock %}

{% block body %}
<style>
    .tabel {
        width: 30%;
        margin: 20px;
        display: inline-block;
        border: 1px solid black;
    }
    .grafiek {
        float: left;
    }

    .informatie {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>
    <div class="informatie">
        <div class="tabel log">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th class="logboek">Logboek</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tabel grafiek">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th class="logboek">Eventueele statistieken</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
