{% extends 'base.html.twig' %}

{% block title %}Edit Boeking{% endblock %}

{% block body %}
    <h1>Edit Boeking</h1>

    {{ include('boeking/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('boeking_index') }}">back to list</a>

    {{ include('boeking/_delete_form.html.twig') }}
{% endblock %}
